{% extends 'base.html' %}
{%load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
{% endblock %}

{% block content %} 
{% include 'navbar.html' %}
<div class="container-fluid">
<div class="row col-xs-12">
{% for hood in neighborhood %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{hood.photo.url}}" alt="Card image cap">
    <div class="card-body";>
        <h5 class="card-title">Name:{{hood.name}}</h5>
        <h5 class="card-title"><b>Location</b>:{{hood.location}}</h5>
        <p class="card-text">description:{{hood.content}}</p>
        <p class="card-text">health_cell:{{hood.health_cell}}</p>
        <p class="card-text">police_hotline:{{hood.police_hotline}}</p>
        <p class="card-text">occupants_count:{{hood.occupants_count}}</p>
        
        <a href="{% url 'post' hood.id %}" target="_blank" class="btn btn-outline-info">Post Hood</a>
        {% if request.user.profile.neighborhood  %}

        <a href="{% url 'leave' hood.id %}" class="btn btn-outline-info">Leave Hood</a>
        {% else %}
        <a href="{% url 'join' hood.id %}" class="btn btn-outline-info">Join Hood</a>
        {% endif %}
    </div>
</div>
</div>
</div>
{% endfor %}

{% endblock %}